<%= form_for @jam, :remote => true do |f| %>
  <% if @jam.errors.any? %>
    <div id="error_explanation">
      <h2>
<%= pluralize(@jam.errors.count, "error") %> prohibited this jam from being saved:
	  </h2>

      <ul>
      <% @jam.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field inline">
    <span class="bold"><%= f.label :title %></span>
    <%= f.text_field :title %>
  </div>
  <div class="field hidden">
<!-- need to put custom controls here-->	
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </div>
  <div class="actions inline">
    <%= f.submit 'Save Jam' %>
<% end %>
