<div id="list_container">
<h1>the jams</h1>
<table>

<% @jams.each do |jam| %>
  <tr>
	<td>
		<h3 class="jam-title"><%= link_to jam.title, jam %></h3>
		<%= render :partial => 'votes', :locals => {:jam => jam }%>
	</td>
	<td>
		<img class="list-staff" src="<%= jam.song %>"/>
	</td>

<!--    <td><%= link_to 'Edit', edit_jam_path(jam) %></td>
    <td><%= link_to 'Destroy', jam, confirm: 'Are you sure?', method: :delete %></td>
 -->
  </tr>
<% end %>
</table>

<%= will_paginate %>

<br />

<%= link_to 'New Jam', new_jam_path %>
</div>

