

<div id="below_staff_area">


    <div class="button_grouping">
        <h1><%= @jam.title %></h1>
		<p id="notice"><%= notice %></p>
		<%= render :partial => 'votes', :locals => {:jam => @jam }%>
		<%= link_to 'See all Jams', jams_path %> -
    </div>

    <div id="stored_data" class="hidden" data="<%= @jam.song %>"></div>
</div>

<%= render 'staff' %>