

<div id="below_staff_area">
    <p id="notice"><%= notice %></p>

    <h1><%= @jam.title %></h1>

    <%= link_to 'Back', jams_path %>

    <div id="stored_data" class="hidden" data="<%= @jam.song %>"></div>
</div>

<%= render 'staff' %>