

<div id="below_staff_area">

    <div class="button_grouping">
      <button id="play_pause_button" type="button" onClick="playSound();" play_text="&#9654;" pause_text="&#10074;&#10074;">&#9654;</button>
      <div id="title_wrapper">
        <h1 id="jam_title"><%= @jam.title %></h1>
      </div>
      <div class="title_bar_inline">
		<p id="notice"><%= notice %></p>
		<%= render :partial => 'votes', :locals => {:jam => @jam }%>
		<%= link_to 'View all Jams', jams_path %>
      </div>
    </div>

  <%=  render 'mode_selector' %>

    <div id="stored_data" class="hidden" data="<%= @jam.song %>"></div>
</div>

<%= render 'staff' %>